@font-face {
    font-family: 'Cupcakes';
    /* Choose a name for your font */
    src: url('./Fonts/Cupcake.ttf') format('truetype'),
        url('./Fonts/Cupcake.otf') format('opentype');
}

@font-face {
    font-family: 'perfect';
    src: url('./Fonts/Perfect_DOS_VGA_437.ttf') format('truetype');
}

@font-face {
    font-family: 'andika';
    src: url('./Fonts/andika.regular.ttf') format('truetype');
}
#root{
    background-color: #fffee0;
    font-family: 'andika';
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav {
    background-color: wheat;
}
link:active {
    background-color:#fffee0 ;
}

.hero {
    padding: 50px;
    padding-top: 100px;
    background-image: url(./images/responsive-hero-image.png);
    max-width: 100%;
    height: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.droids {
    background-image: url(./images/404-page.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: center;
    font-family: 'perfect';
}

.name-tag {
    font-family: 'perfect';
    font-size: large;
    color: black;
}

.name {
    font-family: 'cupcakes';
    font-size: 5rem;
    color: gray
}

.nav-item {
    font-family: 'perfect';
    font-size: x-large;
}
.nav-link{
    color: orange ;
}
.avitar{
    max-width: 15vw;
  
}
.foot {
    margin-top: auto;
    font-family: 'perfect';
    background-image: url(./images/Foot.png);
    max-height: 100%;
}

.cupcakes {
    font-family: cupcakes;
}

.perfect {
    font-family: perfect;
}
.bio{
    font-family: 'andika';
    font-size: larger;
}
.resumeDL{
    font-family: 'cupcakes';
    font-size: large;
}
.buttonLinks{
    display: flex;
    justify-content: space-around;
    font-family: perfect;
}